body {
  background-color: $beige;
  margin: 0;
}

.box {
  background-color: $white;
  border: 1px solid $gray-light;
  border-radius: 5px;
  box-shadow: 0px 1px 3px 1px $gray-light;
  padding: 10px;
  position: relative;
}
