ul.tasks {
  float: left;
  list-style: none;
  margin: 10px 0;
  padding: 0;
  width: 690px;

  li.done {
    color: $gray-light;
    text-decoration: line-through;

    a.check {
      display: none!important;
    }
  }

  li.done:hover {
    a.uncheck {
      display: inline;
    }
  }

  li {
    background-color: $white;
    border: 1px solid $gray-light;
    border-radius: 5px;
    box-shadow: 0px 1px 3px 1px $gray-light;
    list-style: none;
    margin: 10px 0;
    padding: 5px;
    position: relative;

    .input {
      display: none;
    }

    a.edit, a.destroy, a.check, a.uncheck {
      display: none;
      font-size: 18px;
      position: absolute;
    }

    a.edit {
      color: $gray;
      right: 25px;
      top: 6px;
    }

    a.destroy {
      right: 5px;
      top: 5px;
    }

    a.check {
      color: $green;
    }

    a.uncheck, a.check {
      right: 50px;
      top: 6px;
    }

    a.uncheck {
      color: $orange;
    }

    a:hover {
      text-decoration: none;
    }

    a.cancel {
      display: block;
    }

    div.cancel, div.submit {
      bottom: 5px;
      position: absolute;
    }

    div.cancel {
      bottom: 7px;
      right: 125px;
    }

    div.submit {
      right: 15px;
    }
  }

  li:hover {
    a.edit, a.destroy, a.check {
      display: inline;
    }
  }
}
